@font-face {
  font-family: 'SFProDisplay-Medium';
  src: url('SFProDisplay-Medium.eot');
  src: url('SFProDisplay-Medium.eot?#iefix') format('embedded-opentype'),
       url('SFProDisplay-Medium.svg#SFProDisplay-Medium') format('svg'),
       url('SFProDisplay-Medium.ttf') format('truetype'),
       url('SFProDisplay-Medium.woff') format('woff'),
       url('SFProDisplay-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

