body {
  margin: 0;

  --full-height: 812px;
  --full-width: 375px;

  --alwaysBlack: rgb(8, 8, 8);
  --alwaysWhite: rgb(250, 250, 250);
}

* {
  font-family: "SFProDisplay-Regular", 'Roboto', sans-serif;
}