body {
  margin: 0;

  --full-height: 812px;
  --full-width: 375px;

  --foreground: rgb(8, 8, 8);
  --background: rgb(250, 250, 250);

  background-color: var(--background);
}

* {
  font-family: "SFProDisplay-Regular", 'Roboto', sans-serif;
}